<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/style.css">
   <title>AllGuitarzz</title>
</head>

<body>

   <div id="up-elems">
      <div id="logo">
         <a href="/home"><img src='images/logo.jpg' alt="LOGO"></a>
      </div>
   </div>

   <div id="welcome">
      <p>Welcome! <strong>{{user.username}}</strong></p>
   </div>

   <div id="tabs">
      <div id="home">
         <a href="/home">HOME</a>
      </div>

      <div id="lessons">
         <a href="/lessons">LESSONS</a>
      </div>

      <div id="chords">
         <a href="/chords">CHORDS</a>
      </div>

      <div id="guitars">
         <a href="/guitars">GUITARS</a>
      </div>

      <div id="about">
         <a href="/about">ABOUT</a>
      </div>
   </div>

   <div class="chords-bg"></div>

</body>

</html>