<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/style.css">
   <title>AllGuitarzz</title>
</head>

<body>

   <div id="up-elems">
      <div id="logo">
         <a href="/home"><img src='images/logo.jpg' alt="LOGO"></a>
      </div>
   </div>

   <div id="welcome">
      <p>Welcome! <strong>{{user.username}}</strong></p>
   </div>

   <div id="tabs">
      <div id="home">
         <a href="/home">HOME</a>
      </div>

      <div id="lessons">
         <a href="/lessons">LESSONS</a>
      </div>

      <div id="chords">
         <a href="/chords">CHORDS</a>
      </div>

      <div id="guitars">
         <a href="/guitars">GUITARS</a>
      </div>

      <div id="about">
         <a href="/about">ABOUT</a>
      </div>
   </div>
   <div class="home-bg"></div>
   <div id="home-content">
      <h1>Music Theory For Guitar Players</h1>
      <hr>
      <p class="home-para">
         Have you been struggling to learn music theory for guitar or simply looking for a faster, better and easier way
         to learn music theory? You're not alone. I know how you feel, a lot of guitar players have felt this way, but
         what I've found is there are 5 main reasons why guitar players become frustrated when trying to learn music
         theory on the guitar.
      </p>

      <div class="home-para">
         <h3>Here are the 5 big reasons other music theory websites, books, resources or products may not work for you:
         </h3>
         <ol>
            <li>The way they try to teach you music theory on the guitar is very often hard to understand and can
               quickly become overwhelming to learn. </li>
            <li>They typically don't show you how to apply music theory to actual guitar playing. In other words, there
               is a disconnect between the music theory concepts they attempt to explain and the real music that you
               want to play or create. </li>
            <li>Most of the time, what is being taught are simply incomplete 'pieces' of music theory without real
               connection to other concepts. </li>
            <li>Their approach to teaching music theory for guitar is simply BORING - kind of like reading a computer
               manual… yuk! </li>
            <li>There's a lot of music theory stuff out there for guitar, but not much guidance when it comes to showing
               you what you need to learn and focus on in order to do the things you want to achieve musically in your
               life. </li>

         </ol>
      </div>

      <div class="home-para">
         <h3>If you are like most guitar players, you want a place where you can get:</h3>
         <ul>
            <li>music theory help for guitar that is easy to understand but isn't written only for people who began
               playing guitar yesterday. </li>
            <li>music theory lessons, advice and resources for guitar that will actually show you how to apply what you
               learn to real life guitar playing.</li>
            <li>a complete picture of the music theory concepts you want to learn, understand and use on your guitar and
               in your own music. </li>
            <li>an understanding of music theory that is interesting to learn and is not written in a dry and boring way
               that is painful to read. </li>
            <li>a real idea of what aspects of music theory are the most useful things for you to learn right now and in
               your guitar playing future. </li>
         </ul>
      </div>

      <div class="home-para">
         <h3>Guitar Terminologies:</h3>
         <p><b>Fingerstyle - </b>
            A style of playing that uses the fingers on your picking hand to pluck the strings instead of a pick (also
            known as plectrum).
         </p>

         <p><b>Fret - </b>
            Metal wires that are raised above the fretboard. They divide the fretboard into fixed segments of musical
            intervals. The term fret can also be used as a verb, which means to press a note on the fretboard.
         </p>

         <p><b>Fretboard - </b>
            The front of the neck where the frets lie. This is where different notes are pressed with the fingers of
            your fretting hand.
         </p>

         <p><b>Palm Mute - </b>
            A common rock and pop technique that has the palm of your picking hand lying on the strings near the bridge
            to produce a slightly muted tone.
         </p>

         <p><b>Pick - </b>
            Also known as a plectrum. This is a tool to pick the strings with your picking hand. Picks come in different
            sizes, thickness, and materials, all of which affect the tone.
         </p>

         <p><b>Capo - </b>
            Working similarly to a clamp, the capo is a popular tool used to change the notes of all six open strings of
            the instrument. It presses down on all six strings at a certain fret. For example, if the strings are
            originally tuned to the standard E-A-D-G-B-E, putting a capo on the first fret would raise every note by a
            half step, which means the open strings now produce the notes F-A#-D#-G#-C-F.
         </p>

      </div>
   </div>
</body>

</html>