@import url("https://fonts.googleapis.com/css?family=Gochi+Hand");
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Fira+Sans|Heebo|Overpass');

body {
  overflow-x: hidden;
}


/* for navbar elements */
#up-elems {
  background-color: rgba(169, 169, 169, 1);
  box-shadow: 0 5px 8px 0 rgba(19, 3, 3, 0.616);
  transition: 0.3s;
  height: 130px;
}

#up-elems:hover {
  box-shadow: 0 10px 16px 0 rgba(35, 82, 114, 0.856);
}

#up-elems p {
  position: relative;
  top: -40px;
  left: 1000px;
  font-size: 20px;
}

#welcome {
  position: relative;
  top: -80px;
  left: 1200px;
  font-size: 20px;
}

/* for logo */
#logo a img {
  top: 10px;
  position: relative;
  left: 50px;
  width: 300px;
  height: 100px;
}

/* for get-started page */
#get-start a button {
  position: relative;
  top: 450px;
  left: 460px;
  font-size: 50px;
  transition: 0.7s;
}

#get-start a button:hover {
  transform: scale(1.1);
}

/* background for get started page */
#bg-video {
  position: fixed;
  z-index: -1;
}

#bg-img {
  position: fixed;
  z-index: -1;
  width: 1100px;
  height: 800px;
  left: 450px;
}

/* for login */
#login {
  position: relative;
  left: 500px;
  top: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 450px;
  border-radius: 30px;
}

#login:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#login h1 {
  position: relative;
  top: 10px;
  margin: 20px 50px;
}

#login p {
  margin: 50px 50px;
  font-size: 20px;
}

.fa-facebook-f {
  font-size: 50px;
  padding-right: 10px;
  color: #3b5998;
}

#login form input {
  margin: 5px 50px;
  font-size: 25px;
  width: 280px;
  height: 60px;
  border-radius: 5px;
}

#login button {
  margin: 20px 130px;
  font-size: 30px;
  color: green;
  border-radius: 5px;
}

/* for signup */
#signup {
  position: relative;
  left: 500px;
  top: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 450px;
  border-radius: 30px;
}

#signup:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#signup h1 {
  position: relative;
  top: 10px;
  margin: 20px 50px;
}

#signup p {
  margin: 20px 50px;
}

#signup form input {
  margin: 5px 50px;
  font-size: 25px;
  width: 280px;
  height: 60px;
  border-radius: 5px;
}

#signup button {
  margin: 20px 110px;
  font-size: 30px;
  color: green;
  border-radius: 5px;
}

/* for home */
#tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  top: -90px;
}

#tabs div {
  background-color: grey;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 8px 0 #3b5998;
  transition: 0.3s;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#tabs div:hover {
  box-shadow: 0 6px 12px 0 #3b5998;
}


#tabs div a {
  color: black;
  font-family: "Gochi Hand", cursive;
  font-size: 20px;
  padding: 30px 0 0 20px;
}



/* for home display */

#home-content {
  align: center;
  color: whitesmoke;
}

#home-content h1 {
  text-align: center;
}

#home-content hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}

.home-para {
  margin-left: 30%;
  transform: translate(-22%, 0);
  font-weight: 500;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Bree Serif', serif;
  font-family: 'Overpass', sans-serif;
}

.home-para h3 {
  color: aquamarine;
}

.home-para p b {
  color: teal;
}





.home-bg {
  background: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
}

/* for guitars display */
.guitars-bg {
  background: url('../images/guitars-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
}

/* for chords display */
.chords-bg {
  background: url('../images/chords-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
}

/* for about display */
.about-bg {
  background: url('../images/about-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
}


/* for lessons display */
.lessons-bg {
  background: url('../images/lessons-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
}